<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.number_field :user_id, :type => 'hidden', :value => @user.id %>
  <div class="field">
    <%= f.label :r_min %><br />
    <%= f.select :r_min, (0...51).to_a.map{|t| t*10} %> min
  </div>
  <div class="field">
    <%= f.label :l_min %><br />
    <%= f.select :l_min, (0...51).to_a.map{|t| t*10} %> min
  </div>
  <div class="field">
    <%= f.label :g_min %><br />
    <%= f.select :g_min, (0...51).to_a.map{|t| t*10} %> min
  </div>
  <div class="field">
    <%= f.label :s_min %><br />
    <%= f.select :s_min, (0...51).to_a.map{|t| t*10} %> min
  </div>
  <div class="field">
    <%= f.label :phrase %><br />
    <%= f.text_area :phrase %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
